@tailwind base;
@tailwind components;
@tailwind utilities;

.filter {
  margin: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.checkout {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.checkout h2 {
  text-align: center;
}

.checkout form {
  display: flex;
  flex-direction: column;
}

.checkout label {
  margin-bottom: 5px;
}

.checkout textarea,
.checkout select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.profile {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.profile h2 {
  text-align: center;
}

.profile form {
  display: flex;
  flex-direction: column;
}

.profile label {
  margin-bottom: 5px;
}

.profile input,
.profile textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
}